version: '3'
services:
  postgres:
    image: postgres:12
    restart: always
    ports:
    - "5432:5432"
    environment:
      PGPORT: '5432'
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres:/var/lib/postgresql/data
volumes:
  postgres:
