name: CI
on:
  push: {}
  pull_request: {}

env:
  POSTGRES_PSQL_COMMAND: docker exec -i postgres_github_actions psql
  POSTGRES_CONNECTION_STRING: postgresql://postgres:postgres@localhost:5433/postgres

jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.base.repo.url != github.event.pull_request.head.repo.url
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12
        env:
          PGPORT: '5432'
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          --name postgres_github_actions
        ports:
          - 5432:5432

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]

    steps:
      - name: check psql
        run: |
          echo 'select 123 as test_column \gdesc' | docker exec -i postgres_github_actions psql "postgresql://postgres:postgres@localhost:5432/postgres" -f - | grep 'test_column | integer'
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: corepack enable
      - run: pnpm install
      - run: pnpm build
      - run: pnpm test
      - uses: codecov/codecov-action@v2
        if: matrix.node-version == '14.x'
